@font-face {
    font-family: "Inter_Bold";
    src: url(/fonts/Inter-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Inter_Regular";
    src: url(/fonts/Inter-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Inter_Medium";
    src: url(/fonts/Inter-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Inter_SemiBold";
    src: url(/fonts/Inter-SemiBold.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
.page {
    margin: 0;
    padding: 0;
    background-color: #525252;
    width: 100%;
}
.in_page {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    min-width: 1200px;
    max-width: 1250px;
    background-color: #FDFEFE;
    margin: 10px auto;
    border-radius: 40px;
}
.header_box {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 85%;
    margin: 0 auto;
}
.header_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}
.navigation {
    font-family: "Inter_Regular", sans-serif;
    font-weight: 400;
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.link_navigation {
    text-decoration: none;
    color: #090DC4;
}
.navigation_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
.navigation_link {
    text-decoration: none;
    color: #090DC4;
}
.item_centr {
    margin: 0 40px;
}
.heading_box {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}
.box_item_one {
    margin-bottom: 40px;
}
.box_item_heading {
    margin: 0;
}
.heading_text {
    font-family: "Inter_Regular", sans-serif;
    font-weight: 400;
    color: #090DC4;
    text-align: start;
}
h1 {
    font-family: "Inter_Medium", sans-serif;
    font-weight: 500;
    font-size: 75px;
    margin: 0;
    color: #090DC4;
}
.heading_item {
    font-family: "Inter_Regular", sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin: 0;
    padding: 0;
    font-weight: 200;
    color: #090DC4;
}
.svg_home {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 5% auto;
}
.information_page {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 85%;
    margin: 50px auto;
}
.page_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, auto);
}
.gallary {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Добавляю слайдер*/
.slider {
    position: relative;
    width: 60%;
    margin: 20px 0;
    /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
    user-select: none;
    /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
    touch-action: pan-y;
}
  
  /* Если где-то внутри слайдера будут изображения,
  то нужно задать им pointer-events: none,
  чтобы они не перетаскивались мышью */
  
.slider img {
    pointer-events: none;
}
  
.slider-list {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 24px;
}
  
.slider-list.grab {
    cursor: grab;
}
  
.slider-list.grabbing{
    cursor: grabbing;
}
  
  .slider-track {
    display: flex;
}
  
.slide {
    width: 100%;
    height: 400px;
    /* Чтобы слайды не сжимались */
    flex-shrink: 0;
    /* Увеличиваем и центрируем цифру внутри слайда */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 auto;
}
.slide_img {
    width: 100%;
    height: 100%;
}
  
.slider-arrows {
    position: absolute;
    top: 43%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.next,
.prev {
    background: none;
    border: none;
    margin: 0 20px;
    font-size: 30px;
    cursor: pointer;
    color: #090DC4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.next.disabled,
.prev.disabled {
    opacity: .25;
    pointer-events: none;
}
.arrow_left {
    height: 43px;
}
.arrow_right {
    height: 43px;
    transform: rotate(180deg);
}
.information_link {
    background-color: #DFEDF3;
    border-radius: 24px;
    width: 35%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.information_link_list {
    font-family: "Inter_Medium", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.link_item {
    width: 100%;
}
.information_link_item {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border-bottom: 1px solid rgba(9, 13, 196, 0.1);
    color: #090DC4; 
}
.link_item_foor {
    border: none;
}
.text_link {
    margin-left: 40px;
    font-size: 20px;
}
.image_vk {
    width: 45px;
    margin-right: 40px;
}
.for_local {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    position: relative;
    background-color: #DFEDF3;
    border-radius: 24px;
    padding: 70px 50px 50px 50px;
}
.for_local_heading {
    font-family: "Inter_SemiBold", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 40px;
    margin: 0;
    font-size: 22px;
    color: #090DC4;
}
.left_box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.right_box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.products_box {
    width: 80%;
    background-color: #FDFEFE;
    border: 1px solid #090DC4;
    border-radius: 10px;
    margin: 7px;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.5)
}
.products_button {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter_Medium", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #090DC4;
    padding: 7px 0 7px 10px;
    cursor: pointer;
}
.products_text {
    font-family: "Inter_Medium", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 7px 0 7px 10px;
    color: #090DC4;
    text-align: start;
}
.products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #090DC4;
}
.plus {
    width: 25px;
    margin-right: 10px;
    transition: 0.7s;
}
.plus_transform {
    transform: rotate(45deg);
}
.products_item_one {
    margin: 0;
    padding: 0;
    max-height: 0;
    transition: 0.9s;
    overflow: hidden;
}
.products_item_two {
    margin: 0;
    padding: 0;
    max-height: 0;
    transition: 0.9s;
    overflow: hidden;
}
.products_item_three {
    margin: 0;
    padding: 0;
    max-height: 0;
    transition: 0.9s;
    overflow: hidden;
}
.products_item_four {
    margin: 0;
    padding: 0;
    max-height: 0;
    transition: 0.9s;
    overflow: hidden;
}
.products_item_fife {
    margin: 0;
    padding: 0;
    max-height: 0;
    transition: 0.9s;
    overflow: hidden;
}
.products_item_six {
    margin: 0;
    padding: 0;
    max-height: 0;
    transition: 0.9s;
    overflow: hidden;
}
.products_hover {
    max-height: 1000px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height 1.4s;

}
.products_list {
    list-style: none;
    padding-left: 30px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item_list {
    margin: 5px;
}
.products_link {
    font-family: "Inter_Medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #090DC4;
}
.disabled_link {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}
.village_blog {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: #DFEDF3;
    border-radius: 24px;
    margin: 50px auto;
}
.village_heading {
    font-family: "Inter_SemiBold", sans-serif;
    font-weight: 600;
    margin: 20px 0 20px 40px;
    font-size: 22px;
    color: #090DC4;
}
.village_box {
    width: 85%;
    margin: 0 auto 30px auto;
}
.village_text {
    font-family: "Inter_Medium", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #090DC4;
}
.footer_contacts {
    grid-column: 1/3;
    grid-row: 3/4;
}
.footer_contacts_grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
}
.contacts {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #DFEDF3;
    border-radius: 24px;
    margin: 0 auto 50px auto;
    width: 85%;
    padding: 0;
}
.contacts_heading {
    font-family: "Inter_SemiBold", sans-serif;
    font-weight: 600;
    margin: 20px 0 20px 40px;
    font-size: 22px;
    color: #090DC4;
}
.contacts_box {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    margin: 0 auto;
}
.box_item {
    background-color: #FDFEFE;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
}
.one_box {
    grid-column: 1/2;
    grid-row: 1/2;
}
.two_box {
    grid-column: 2/3;
    grid-row: 1/2;
}
.tree_box {
    grid-column: 1/2;
    grid-row: 2/3;
}
.four_box {
    grid-column: 2/3;
    grid-row: 2/3;
}
.fife_box {
    grid-column: 3/4;
    grid-row: 1/3;
    padding-bottom: 20px;
}
h4 {
    margin: 10px;
    font-family: "Inter_Medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #090DC4;
}
.item_text {
    margin: 10px;
    font-family: "Inter_Regular", sans-serif;
    font-weight: 400;
    color: #090DC4;
}
.contacts_map {
    width: 85%;
    margin: 50px auto;
    padding: 0;
}
.style_map {
    position: relative;
    overflow: hidden;
    border-radius: 24px;
}
.form {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #DFEDF3;
    border-radius: 24px;
    width: 60%;
    margin: 40px auto;
}
.form_heading {
    font-family: "Inter_SemiBold", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #090DC4;
    text-align: center;
}
.form_heading_text {
    font-family: "Inter_Medium", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #090DC4;
    text-align: center;
    margin: 20px;
}
.form_box {
    width: 100%;
    padding: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}
.form_item {
    background-color: #FDFEFE;
    border: 1px solid #090DC4;
    border-radius: 10px;
    color: #090DC4;
    margin: 7px auto;
    font-family: "Inter_Medium", sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding-left: 20px;
    width: 80%;
}
input::-webkit-input-placeholder {
    color: #090DC4;
}
input:-moz-placeholder {
    color: #090DC4;
}
textarea::-webkit-input-placeholder {
    color: #090DC4;
}
textarea:-moz-placeholder {
    color: #090DC4;
}
.button_form {
    font-family: "Inter_Medium", sans-serif;
    font-weight: 500;
    font-size: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto auto;
    width: 50%;
    border: 1px solid #090DC4;
    background-color: #090DC4;
    color: #FDFEFE;
    height: 50px;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.5)
}
.name_item {
    grid-column: 1/2;
    grid-row: 1/2;
}
.phone_item {
    grid-column: 2/3;
    grid-row: 1/2;
}
.message_item {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 5px auto 20px auto;
}
@media (max-width: 600px) {
    .page {
        margin: 0;
        padding: 0;
        background-color: none;
        width: 100%;
    }
    .in_page {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        min-width: 100%;
        background-color: #FDFEFE;
        margin: 0 auto;
        border-radius: 0;
    }
    .header_box {
        grid-column: 1/3;
        grid-row: 1/2;
        width: 90%;
        margin: 0 auto;
    }
    .header_grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
    }
    .heading_box {
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: center;
        margin-top: 30px;
    }
    .svg_home {
        grid-column: 1/3;
        margin: 0 auto;
    }
    .navigation {
        font-family: "Inter_Regular", sans-serif;
        font-weight: 400;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3/4;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 18px;
        margin: 30px auto;
    }
    .navigation_list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        list-style: none;
        padding: 0;
    }
    .item_centr {
        margin: 10px 0;
    }
    h1 {
        font-family: "Inter_Medium", sans-serif;
        font-weight: 500;
        font-size: 45px;
        margin: 0;
        color: #090DC4;
    }
    .box_item_one {
        margin-bottom: 30px;
    }
    .heading_text {
        display: none;
    }
    .gallary {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        margin: 0;
    }
    .information_page {
        grid-column: 1/3;
        grid-row: 2/3;
        width: 100%;
        margin: 30px auto;
    }
    /*Добавляю слайдер*/
    .slider {
        position: relative;
        width: 100%;
        margin: 0 0 50px 0;
        /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
        user-select: none;
        /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
        touch-action: pan-y;
    }
      
      /* Если где-то внутри слайдера будут изображения,
      то нужно задать им pointer-events: none,
      чтобы они не перетаскивались мышью */
      
    .slider img {
        pointer-events: none;
    }
      
    .slider-list {
        width: 100%;
        height: auto;
        overflow: hidden;
        border: none;
        border-radius: 0;
    }
      
    .slider-list.grab {
        cursor: grab;
    }
      
    .slider-list.grabbing{
        cursor: grabbing;
    }
      
      .slider-track {
        display: flex;
    }
      
    .slide {
        width: 100%;
        height: auto;
        /* Чтобы слайды не сжимались */
        flex-shrink: 0;
        /* Увеличиваем и центрируем цифру внутри слайда */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 auto;
    }
    .slide_img {
        width: 100%;
    }
      
    .slider-arrows {
        position: absolute;
        top: 43%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
      
    .next,
    .prev {
        background: none;
        border: none;
        margin: 0 20px;
        font-size: 30px;
        cursor: pointer;
        color: #090DC4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
      
    .next.disabled,
    .prev.disabled {
        opacity: .25;
        pointer-events: none;
    }
    .arrow_left {
        height: 33px;
    }
    .arrow_right {
        height: 33px;
        transform: rotate(180deg);
    }
    /*Конец слайдера*/
    .information_link {
        background-color: #DFEDF3;
        border-radius: 24px;
        width: 85%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .information_link_item {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(9, 13, 196, 0.1);
        color: #090DC4; 
        margin: 5px auto 5px auto;
        padding: 0;
        height: auto;
    }
    .link_item_foor {
        border: none;
    }
    .link_item {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .text_link {
        margin: 0 0 0 20px;
        font-size: 14px;
    }
    .image_vk {
        width: 15%;
        margin-right: 20px;
    }
    .for_local {
        grid-column: 1/3;
        grid-row: 2/3;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 75%;
        position: relative;
        background-color: #DFEDF3;
        border-radius: 24px;
        padding: 20% 5% 5% 5%;
    }
    .for_local_heading {
        font-family: "Inter_SemiBold", sans-serif;
        font-weight: 600;
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 22px;
        color: #090DC4;
    }
    .left_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .right_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .products_box {
        width: 100%;
        background-color: #FDFEFE;
        border: 1px solid #090DC4;
        border-radius: 10px;
        margin: 7px;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5)
    }
    .products_button {
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: "Inter_Medium", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #090DC4;
        padding: 7px 0 7px 10px;
        cursor: pointer;
        text-align: start;
    }
    .products_text {
        font-family: "Inter_Medium", sans-serif;
        font-weight: 500;
        font-size: 16px;
        margin: 7px 0 7px 10px;
        color: #090DC4;
        text-align: start;
    }
    .plus {
        width: 23px;
        margin-right: 10px;
        transition: 0.7s;
    }
    .village_blog {
        margin: 30px auto;
        width: 85%;
    }
    .village_heading {
        font-family: "Inter_SemiBold", sans-serif;
        font-weight: 600;
        margin: 20px auto;
        font-size: 20px;
        color: #090DC4;
        text-align: center;
    }
    .village_box {
        width: 90%;
        margin: 0 auto 30px auto;
    }
    .village_text {
        font-family: "Inter_Medium", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        color: #090DC4;
        text-align: start;
    }
    .contacts {
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: #DFEDF3;
        border-radius: 0;
        margin: 0 auto 50px auto;
        width: 100%;
        padding: 0;
    }
    .contacts_heading {
        font-family: "Inter_SemiBold", sans-serif;
        font-weight: 600;
        margin: 20px auto;
        font-size: 20px;
        color: #090DC4;
        text-align: center;
    }
    .contacts_box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        overflow-x: scroll;
        overflow-y: hidden;
        user-select: none;
    }
    .box_item {
        min-width: 260px;
        min-height: 250px;
        background-color: #FDFEFE;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        text-align: center;
    }
    .fife_box {
        order: -1;
    }
    .contacts_map {
        width: 100%;
        margin: 50px auto;
        padding: 0;
    }
    .style_map {
        position: relative;
        overflow: hidden;
        border-radius: 0;
    }
    .form {
        grid-column: 1/2;
        grid-row: 2/3;
        background-color: #DFEDF3;
        border-radius: 24px;
        width: 85%;
        margin: 40px auto;
        text-align: center;
    }
    .form_heading {
        font-family: "Inter_SemiBold", sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: #090DC4;
        text-align: center;
    }
    .form_heading_text {
        font-family: "Inter_Medium", sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #090DC4;
        text-align: center;
        margin: 20px;
    }
    .form_box {
        width: 100%;
        padding: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .form_item {
        background-color: #FDFEFE;
        border: 1px solid #090DC4;
        border-radius: 10px;
        color: #090DC4;
        margin: 7px auto;
        font-family: "Inter_Medium", sans-serif;
        font-weight: 500;
        font-size: 14px;
        padding-left: 20px;
        width: 80%;
    }
    .button_form {
        font-family: "Inter_Medium", sans-serif;
        font-weight: 500;
        font-size: 16px;
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 20px auto;
        width: 50%;
        border: 1px solid #090DC4;
        background-color: #090DC4;
        color: #FDFEFE;
        height: 30px;
        box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.5)
    }
}