@font-face {
    font-family: "PT Sans";
    src: url(../fonts/PTSans-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Pro";
    src: url(../fonts/gothampro_black.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Pro Regular";
    src: url(../fonts/gothampro.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}
.page {
    background-color: #2F3232;
    margin: 0;
    padding: 0;
}
.page_block {
    width: auto;
    font-family: "Gotham Pro", sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: min-content auto auto 20% 20% 20% 20% 20%;
    margin: 0;
    padding: 0;
}
.navigation {
    grid-column: 1/6;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}
.name {
    text-align: center;
    margin-left: 5%;
}
.name_text {
    font-size: 28px;
}
.name_text_two {
    font-family: "Gotham Pro Regular";
    font-size: 16px;
}
.navigation_block {
    margin: 0;
    padding: 0;
    min-width: 500px;
}
.navigation_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    min-width: 100%;
    margin: 0;
}
a {
    color: #FFFFFF;
}
.watsap_img {
    max-width: 82px;
    max-height: 46px;
    margin: auto;
}
.navigation_item {
    list-style: none;
    margin: 2% 2%;
}

.logo_block {
    grid-column: 1/6;
    grid-row: 2/4;
    margin: 0;
    padding: 0;

}
.logo_block_item {
    display: grid;
    grid-template-columns: 40% 25% 35%;
    grid-template-rows: 60% min-content;
    margin: 0;
    padding: 0;
}
.kras_img {
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
    min-height: 238px;

}
.block_city_logo {
    grid-column: 1/4;
    grid-row: 2/3;
    min-width: 100%;
    background-color: #E8EAEA;
    margin: 0;
    padding: 0;
}
.evgen_img {
    grid-column: 3/4;
    grid-row: 1/3;
    max-width: 100%;
    min-height: 238px;
    margin-left: 5%;
    padding: 0;
    
}
.information_block {
    margin-top: 5%;
    grid-column: 1/6;
    grid-row: 5/7;
    text-align: center;
}
.city_logo_text {
    color: #000000;
    margin-right: 30%;
    padding: 0;
}
@media (max-width: 600px) {
    .page_bloc {
        min-width: 320px;
    }
    .evgen_img {
        grid-column: 2/4;
        grid-row: 1/2;
        max-height: 238px;
    }
    .navigation {
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
    }
}