
@font-face {
    font-family: "Pacifico_Regular";
    src: url(/fonts/Pacifico-Regular.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Inter_Bold";
    src: url(/fonts/Inter-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Inter_Regular";
    src: url(/fonts/Inter-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Inter_Medium";
    src: url(/fonts/Inter-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Inter_SemiBold";
    src: url(/fonts/Inter-SemiBold.woff) format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Pro";
    src: url(/fonts/gothampro_black.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Pro Regular";
    src: url(/fonts/gothampro.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Alice-Regular";
    src: url(/fonts/Alice-Regular.woff) format("woff2");
    font-weight: 400;
    font-style: normal;
}
.page {
    background-color: #1C1C1C;
    margin: 0 auto;
    padding: 0;
    min-width: 100%;
    opacity: 0;
    transition: 0.9s;
    font-family: "Alice-Regular";
    font-weight: 400;
}
.page_item {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    width: 1200px;
    margin: 0 auto;
}
.navigation {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.navigation_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    list-style: none;
}
.navigation_heading {
    font-family: "Gotham Pro Regular", sans-serif;
    font-weight: 400;
    color: #FFF7F7;
    font-size: 30px;
    transform: translateX(-550px);
    transition: 0.9s;
}
.one {
    transform: translateX(500px);
    transition: 0.9s;
}
.one:hover {
    transform: scale(1.2);
}
.two {
    transform: translateX(500px);
    transition: 0.9s;
}
.two:hover {
    transform: scale(1.2);
}
.three {
    transform: translateX(500px);
    transition: 0.9s;
}
.three:hover {
    transform: scale(1.2);
}
.four {
    transform: translateX(500px);
    transition: 0.9s;
}
.four:hover {
    transform: scale(1.2);
}
.one_visibility {
    transform:translateX(0);
}
.navigation_img {
    width: 50px;
}
.whatsapp_svg {
    animation: app_interactive 2.2s ease-in-out 3.5s 1;
}
.telegram_svg {
    animation: app_interactive 2.2s ease-in-out 4s 1;
}
.phone_svg {
    animation: app_interactive 2.2s ease-in-out 4.5s 1;
}
.email_svg {
    animation: app_interactive 2.2s ease-in-out 5s 1;
}
@keyframes app_interactive {
    0% {
        transform: rotate(0);
    }
    45% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-45deg);
    }
    65% {
        transform: rotate(45deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    85% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}
.info {
    grid-column: 1/3;
    grid-row: 2/3;
}
.interactive {
    font-family: "Pacifico_Regular", sans-serif;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.interactive_svg {
    max-width: 1200px;
    min-width: auto;

}
.right_head {
    visibility: hidden;
}
.left_circle {
    transform-box: fill-box;
    transform-origin: center;
    animation: left_cercle_rotate 3s linear infinite;
}
@keyframes left_cercle_rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.circle_hidden {
    visibility: hidden;
}
.bottom_circle_item {
    transform-box: fill-box;
    transform-origin: center;
    animation: bottom_cercle_rotate 3s linear infinite;
    transform: rotate(-30deg);
}
@keyframes bottom_cercle_rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
.top_circle_item {
    transform-box: fill-box;
    transform-origin: center;
    animation: top_cercle_rotate 3s linear infinite;
    transform: rotate(-30deg);
}
@keyframes top_cercle_rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
.circle_all {
    transform: translateY(20px);
    opacity: 0;
    transition: 0.9s ease;
}
.circle_all_opasity {
    opacity: 1;
}
.left_head {
    visibility: hidden;
}
.brain {
    opacity: 0;
    animation: stroke_dashofset 3s linear 2.5s infinite;
}
@keyframes stroke_dashofset {
    0% {
        stroke-dasharray: 0;
        opacity: 1;
    }
    100% {
        stroke-dasharray: 100%;
        opacity: 1;
    }
}
.box_text {
    font-size: 90px;
    animation: neon3 1.5s ease-in-out 2.7s infinite;
    opacity: 0;
    transition: all 0.7s;
}
@keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
  }
  .box_text_visibility {
    font-size: 80px;
    animation: neon3 1.5s ease-in-out 2.5s infinite;
    opacity: 1;
  }
  .heading_box {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
  }
  .heading {
    font-family: "Gotham Pro", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #FFF7F7;
    opacity: 0;
    transition: 0.7s;
  }
  .heading_item {
    font-family: "Alice-Regular", sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #FFF7F7;
    opacity: 0;
    transition: 0.7s;
  }
  .heading_opacity {
    color: #BA01FF;
    transition: 1.5s;
  }
  .heading_opacity_item {
    opacity: 1;
  }
  .information_box {
    margin: 0 auto;
    text-align: center;
  }
  .information_heading {
    color: #FFF7F7;
    font-size: 35px;
    margin-top: 0;
  }
  .contacts {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  @media (max-width: 600px) {
    .page_item {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        width: 100%;
        margin: 0 auto;
    }
    .navigation {
        grid-column: 1/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .navigation_list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        width: 100%;
        padding: 0;
        margin: 0 0 16px 0;
    }
    .navigation_item {
        margin: 0 10px;
    }
    .navigation_heading {
        font-family: "Gotham Pro Regular", sans-serif;
        font-weight: 400;
        color: #FFF7F7;
        font-size: 20px;
        transition: 0.9s;
        margin-top: 24px;
    }
    .interactive_svg {
        width: 100%;
        height: auto;
    }
    .heading_box {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
      }
    .heading {
        font-size: 14px;
      }
    .heading_item {
        font-size: 14px;
        margin-top: 20px;
    }
    .box_text_visibility {
        font-size: 80px;
        animation: neon3 1.5s ease-in-out 2.5s infinite;
        opacity: 1;
    }
      @keyframes neon3 {
        from {
          text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 3px #FFDD1B, 0 0 4px #FFDD1B, 0 0 5px #FFDD1B, 0 0 5px #FFDD1B, 0 0 6px #FFDD1B;
        }
        to {
          text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 2px #FFDD1B, 0 0 3px #FFDD1B, 0 0 4px #FFDD1B, 0 0 4px #FFDD1B, 0 0 5px #FFDD1B;
        }
    }
    .navigation_img {
        width: 40px;
    }
    .information_heading {
        color: #FFF7F7;
        font-size: 22px;
        margin-top: 20px;
        font-weight: 400;
      }

  }
