@font-face {
    font-family: "PT Sans";
    src: url(../fonts/PTSans-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Pro";
    src: url(../fonts/gothampro_black.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Pro Regular";
    src: url(../fonts/gothampro.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}
.page {
    background-color: #2F3232;
    margin: 0;
    padding: 0;
    min-width: 100%;
    max-width: 1440px;
}
.page_block {
    font-family: "Gotham Pro", sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: min-content auto 20% 20% 20% 20% 20% 20%;
    margin: 0 auto;
    padding: 0;
}
header {
    grid-column: 1/6;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #DAA520;
    filter: saturate(130%);
    min-width: 320px;
    max-width: auto;
    min-height: 100%;
}
.name {
    text-align: center;
    margin-left: 5%;
    padding: 0;
}
.name_text {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 0;
}
.name_text_two {
    font-family: "Gotham Pro Regular";
    font-size: 16px;
    margin-top: 10px;
}
.navigation_block {
    margin: 0;
    padding: 10px;
    width: 30%; 
}
.navigation_list {
    font-family: "Gotham Pro Regular", sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    min-width: 100%;
    margin: 0;
}
a {
    color: #FFFFFF;
}
.watsap_block {
    margin-right: 5%;
}
.watsap_img {
    max-width: 82px;
    max-height: 46px;
    filter: brightness(300%);
}
.navigation_item {
    list-style: none;
    margin: 2% 2%;
}

.logo_block {
    grid-column: 1/6;
    grid-row: 2/4;
}
.grid {
    display: grid;
    grid-template-columns: 40% 25% 35%;
    grid-template-rows: 50% min-content;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
}
.kras_img {
    grid-column: 1/4;
    grid-row: 1/2;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}
.block_city_logo {
    grid-column: 1/4;
    grid-row: 2/3;
    min-width: auto;
    min-height: auto;
    max-height: auto;
    background-color: #E8EAEA;
    margin: 0;
    padding: 0;
}
.evgen_img {
    grid-column: 3/4;
    grid-row: 1/3;
    min-width: auto;
    min-height: auto;
    max-height: 100%;
    margin-left: 10%;
    padding: 0;
    position: absolute;
    bottom: 0;
    
}
.information_block {
    margin: 0;
    grid-column: 1/6;
    grid-row: 4/7;
    text-align: center;
    color: #FFFFFF;
}
.city_logo_text {
    color: #000000;
    margin-right: 35%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0;
}
.grid_info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content auto;
    margin: 0;
}
.information_heading {
    grid-column: 1/2;
    grid-row: 1/2;
    color: #DAA520;
    filter: saturate(130%);
    margin: 0;
}
.box_block {
    grid-column: 1/2;
    grid-row: 2/3;
}
.box_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
.box {
    text-align: center;
}
.border_box_one {
    border: 4px solid #000000;
    border-radius: 22px;
    margin: 20px auto;
    padding: 0;
    width: 70%;
    background-color: #4FD1FA;
    filter: saturate(120%);
}
.border_box_two {
    border: 4px solid #000000;
    border-radius: 22px;
    margin: 20px auto;
    padding: 0;
    width: 70%;
    background-color: #85bb65;
    filter: saturate(120%);
}
.border_box_free {
    border: 4px solid #000000;
    border-radius: 22px;
    margin: 20px auto;
    padding: 0;
    width: 70%;
    background-color: #FF8787;
    filter: saturate(120%);
}
.oclock_text {
    color: #000000;
    font-size: 20px;
    margin-top: 5px;
}
.many_text {
    color: #000000;
    font-size: 20px;
    margin-top: 5px;
}
.serdce_text {
    color: #000000;
    font-size: 20px;
    margin-top: 5px;
}
.box_text {
    font-family: "Gotham Pro Regular", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    padding: 0 15%;
}
.oclock_img {
    min-width: 40%;
}
.many_img {
    min-width: 5%;
    min-height: 2%;
    margin-top: 2px;
    margin-bottom: 0;
}
.serdce_img {
    min-width: 40%; 
}
@media (max-width: 650px) {
    .page {
        min-width: 320px;
        max-width: 100%;
        margin: 0;
    }
    .page_bloc {
        width: auto;
        margin: 0 auto;
    }
    .kras_img {
        min-height: auto;
    }
    .evgen_img {
        display: none;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
    }
    .navigation_block {
        font-size: 14px;
        min-width: 90%;
        margin-bottom: 20px;
    }
    .navigation_list {
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .city_logo_text {
        font-family: "PT Sans", sans-serif;
        margin: 2% 5%;
        text-align: center;
    }
    .watsap_block {
        display: none;
    }
    .name_text {
        font-size: 22px;
    }
    .box_grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .information_heading {
        font-size: 18px;
    }
}